services:
  backend:
    image: pricing-backend:latest
    container_name: pricing-backend
    ports:
      - "4000:4000"
    # volumes:
      # Optional: Uncomment the next line to persist the database on the host.
      # You MUST place a valid Quetung.db file in the './data' folder before uncommenting.
      # - ./data:/app/data
    restart: always

  frontend:
    image: pricing-frontend:latest
    container_name: pricing-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
