# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ========================
# Virtual Environment
# ========================
.venv/
venv/
env/

# ========================
# Environment variables
# ========================
.env
.env.*

!.env.example

# ========================
# IDE / OS
# ========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ========================
# Logs & temp
# ========================
*.log
*.tmp

# ========================
# Test / coverage
# ========================
.coverage
htmlcov/
.pytest_cache/

# ========================
# Build
# ========================
dist/
build/
*.egg-info/
